* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}  

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header__nav {
    background: #181818;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__link__list {
    display: flex;
    gap: 32px;
}

.header__nav-list {
    color: #FFF;
    font-family: 'PR';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    transition: 500ms;
}

.header__nav-list:hover {
    border-radius: 14px;
    background: #FFF;
    color: black;
    padding: 10px 20px 10px 20px;
}

.header__content {
    background: url(../images/fon.jpg) no-repeat center /cover;
    height: 716px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    position: relative;
}

.header__top-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__span {
    color: #C0C0C0;
    text-align: center;
    font-family: 'PR';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header__h1 {
    color: #FFF;
    text-align: center;
    font-family: 'PR';
    font-size: 54px;
    margin-bottom: 20px;
}

.header__paragraf {
    color: #C0C0C0;
    text-align: center;
    font-family: 'PR';
    font-size: 14px;
    padding-bottom:70px;
    max-width: 580px;
    width: 100%;
}

.header__content-top {
    display: flex;
    gap: 16px;
    position: absolute;
    right: 40px;
    bottom: 46px;
}

.header__content-top ul,
.header__top-logo {
    color: white;
    font-family: 'PR';
    font-size: 12px;
    line-height: 12px; ;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.main__box {
    background: #000;
}

.section__one {
    padding-top: 113px;
}

.main__link-list {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.main__link {
    color: #FFF;
    text-align: center;
    font-family: 'PR';
    font-size: 40px;
    line-height: 42px; 
}

.main__list {
    color: #C0C0C0;
    text-align: center;
    font-family: 'PR';
    font-size: 23px;
    line-height: 30px;
}

.main__paragraf {
    color: #C0C0C0;
    font-family: 'PR';
    font-size: 14px;
    line-height: 20px; 
}

.main__title {
    color: #FFF;
    font-family: 'PR';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main__box-text {
    max-width: 500px;
    width: 1000%;
}

.main__text {
    color: #C0C0C0;
    font-family: 'PR';
    font-size: 14px;
    line-height: 20px;
}

.main__box-text {
    position: absolute;
    left: 30px;
    bottom: 35px;
}

.main__top-title {
    position: relative;
}

.main__top-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-top: 40px;
}

.main__title {
    padding-bottom: 10px;
}

.main__box-text a  {
    display: flex;
    align-items: center;
    border-radius: 14px;
    background: #FFF;
    width: 143px;
    margin-top: 15px;
    transition: 500ms;
}

.main__box-text a:hover {
    background: grey;
    color: white;
}

.main__frame {
    padding: 5px 5px;
}